<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
   metadata-complete="false"
   version="3.0"> 

  <display-name>Test dnaplotapp</display-name>
  
  <servlet>
        <servlet-name>CGI</servlet-name>
        <servlet-class>org.eclipse.jetty.servlets.CGI</servlet-class>
        <init-param>
        	<param-name>cgibinResourceBase</param-name>
        	<param-value>/cgi-bin</param-value>
        </init-param>
        <init-param>
                <param-name>cgibinResourceBaseIsRelative</param-name>
                <param-value>true</param-value>
        </init-param>
        <init-param>
                <param-name>commandPrefix</param-name>
                <param-value>/usr/bin/perl</param-value>
        </init-param>
        <init-param>
                <param-name>ignoreExitState</param-name>
                <param-value>true</param-value>
        </init-param>
  </servlet>

  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
    <init-param>
      <param-name>dirAllowed</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>

  <servlet-mapping>
    <servlet-name>CGI</servlet-name>
    <url-pattern>/cgi-bin/*</url-pattern>
  </servlet-mapping>

  <!-- <mime-mapping> 
    <extension>cgi</extension>
    <mime-type>text/html</mime-type>
  </mime-mapping> -->
</web-app> 
